body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
  color: #333;
}

header {
  text-align: center;
}

nav a {
  color: #8b99a7;
  text-decoration: none;
  font-weight: bold;
}

section {
  margin-bottom: 20px;
  padding: 10px;
  background: #cecdcd;
  border: 1px solid #d8cfcf;
  border-radius: 5px;
}

article {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
}

input[type="button"] {
  background-color: #383c3f;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #666;
}
